<% if @comments %>
  <div id = "comment-container">
    <% @comments.each_with_index do |comment, i| %>
      <%= render partial: "comments/comment", locals: {comment: comment, i: i} %>
    <% end %>
  </div>
<% end %>

