<h3>Welcome <%= current_user.name.capitalize %></h3>

<% if @proposals.length > 0 %>
<ul>
  <h4>Your proposals</h4>
  <% @proposals.each do |proposal| %>
    <p><li><%= link_to proposal.title, proposal_path(proposal) %></li><p>
  <% end %>

</ul>
<% end %>

<br>

<% if @experiments.length > 0 %>
<ul>
  <h4>Your Experiments</h4>
  <% @experiments.each do |experiment| %>
    <p><li><%= link_to experiment.title, proposal_experiment_path(experiment.proposal, experiment) %></li><p>
  <% end %>

</ul>
<% end %>
