<h1>Welcome to Washington University's Public Health Fund!</h1>
<% if current_user %>
  <%= link_to 'Logout', session_path(current_user), :method => :delete %>
<% else %>
  <%= link_to 'Sign Up', new_user_path %>
  <%= link_to 'Login', new_session_path %>
<% end %>
