<div class="container">
  <h1>Current experiments</h1>
  <% @experiments.each do |e| %>
  <ul>
    <li><%= link_to e.title, proposal_experiment_path(e.proposal, e) %></li>

  </ul>
   <% end %>
</div>
