<nav>
  <div class="nav-wrapper">
    <a href="/" class="brand-logo">WU</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="/users/<%= current_user.id %>">Profile</a></li>

    </ul>
  </div>
</nav>

<div class="container">
  <h1>Current experiments</h1>
  <% @experiments.each do |e| %>
  <ul>
    <li><%= link_to e.title, proposal_experiment_path(e.proposal, e) %></li>

  </ul>
   <% end %>
</div>
