
<h1 class="thin">Welcome to Washington University's Public Health Fund!</h1>

<img src="http://3.bp.blogspot.com/-76JDVzNAqwQ/VPXvtpgabZI/AAAAAAAAAro/LWgsklPjaTo/s1600/kids_in_science_lab_trans.png"></img>

