<nav>
  <div class="nav-wrapper">
    <a href="/" class="brand-logo">WU</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="/users/<%= current_user.id %>">Profile</a></li>
      <li><a href="/proposals">Proposals</a></li>
      <li><a href="/experiments">Experiments</a></li>
    </ul>
  </div>
</nav>

<div class="container">
  <h1>10 Most Recent Experiments</h1>
  <% @experiments.each_with_index do |e, i| %>
  <ul>

    <li><%= link_to e.title, proposal_experiment_path(e.proposal, e) %></li>
    <% if i == 9 %>
      <hr>
      <br>
      <h1>Older Experiments</h1>
    <% end %>



  </ul>
   <% end %>
</div>
