<div class="container">
<% if current_user %>
  <h1>10 Most Recent Experiments</h1>
  <% @experiments.each_with_index do |e, i| %>
  <ul>

    <li><%= link_to e.title, proposal_experiment_path(e.proposal, e) %></li>
    <% if i == 9 %>
      <hr>
      <br>
      <h1>Older Experiments</h1>
    <% end %>



  </ul>
   <% end %>
<% end %>
</div>
