<% if current_user %>


  <div id="10-experiments">
  <h3>10 Most Recent Experiments</h3>
  <% @experiments.each_with_index do |e, i| %>
  <ul>

    <li><%= link_to e.title, proposal_experiment_path(e.proposal, e) %></li>
    <% if i == 9 %>
    <br>
      <hr>

      <h3>Older Experiments</h3>
    <% end %>



  </ul>
   <% end %>
 </div>
<% end %>
</div>
