<div class="container">
  <h3>Welcome to Washington University's Public Health Fund</h3>
    <h4>List of All Proposals</h4>

     <ul id="proposal-list">
    <% @proposals.each do |proposal| %>
       <li><%= link_to proposal.title, proposal_path(proposal) %></li>
     <% end %>
     </ul>


      <h3><%= link_to "Profile Page", user_path(current_user) %></h3>
</div>
