<!DOCTYPE html>
<html>
<head>
  <title>DBCLabs</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if current_user %>
    <% render "shared/nav_bar"%>
  <% end %>
  <%= yield %>

</body>
</html>
