.comment
{
   margin-top: 40px;
}

.info-titles
{
  color:#c62828;
  font-size: 1em;
}

.author-text
{
  font-style: italic;
  padding-top: 10px;
}

.exp-links
{
  text-decoration: underline;
}
/*"card #ef5350 red lighten-1"*/

.exp-links a:hover
{
  color: #90caf9;
  padding-left: 5px;
}

.all-forms
{
  padding-top: 50px;
  margin: 20px auto;
  width:500px;
  font-size: 1em;
}

.errors
{
  margin-top: 20px;
  color: #c62828;
}

#sub-comment {
  position: relative;
  margin-left: 30px;

}

.button {
  background-color: #1cb0a1;
  margin-right: 10px;
  border-radius: 5px;
}






