<nav>
  <div class="nav-wrapper">
    <a href="/" class="brand-logo">WU</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="<%= user_path %>">Profile</a></li>
      <li><a href="<%= session_path %>">Log out</a></li>
    </ul>
  </div>
</nav>
